
BrainFEmulator/obj/Debug/net7.0-windows/BrainFEmulator.assets.cache
BrainFEmulator/.vs/BrainFEmulator/v17/.suo
BrainFEmulator/.vs/BrainFEmulator/FileContentIndex/read.lock
BrainFEmulator/.vs/BrainFEmulator/FileContentIndex/6bf53146-621f-4343-9650-c74516ac1545.vsidx
BrainFEmulator/obj/Debug/net7.0-windows/BrainFEmulator.assets.cache
BrainFEmulator/obj/Debug/net7.0-windows/BrainFEmulator.assets.cache
BrainFEmulator/.vs/BrainFEmulator/FileContentIndex/00816de0-40b7-4d77-970e-df2f764eadf6.vsidx
BrainFEmulator/.vs/ProjectEvaluation/brainfemulator.projects.v6.1
BrainFEmulator/.vs/BrainFEmulator/DesignTimeBuild/.dtbcache.v2
BrainFEmulator/.vs/BrainFEmulator/v17/.futdcache.v2
BrainFEmulator/.vs/ProjectEvaluation/brainfemulator.metadata.v6.1
.gitattributes
/.vs
/bin
/obj
